.post-list {
    .post-item {
        margin-bottom: 20px;
        .cover {
            width: 300px;
            height: 200px;
            background-size: cover;
            border-radius: 10px;
        }
        .body {
            padding: 0 20px;
            .title {
                padding: 6px 0;
                font-size: 28px;
                color: #333;
            }
            .title:hover {
                color: #666;
            }
            .desc {
                font-size: 16px;
                color: #777;
            }
        }
    }
    .post-item:last-of-type {
        margin-bottom: 0;
    }
}