<div>
  <div>
    <div class="post-list">
      <div class="post-item" *ngFor="let post of posts">
        <a class="cover mat-elevation-z4" [style.background-image]="'url('+post.cover+')'" fxFlex="300px" routerLink="/post/{{post.id}}"></a>
        <div class="body">
          <a class="title" routerLink="/post/{{post.id}}">{{post.title}}</a>
          <p class="desc">{{post.desc}}</p>
        </div>
      </div>
    </div>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div fxFlex="300px">
    list
  </div>
</div>