// @import '~@angular/material/theming';
// $primary: mat-palette($mat-blue);
// $accent: mat-palette($mat-deep-orange);
// $warn: mat-palette($mat-red);
// $theme: mat-light-theme($primary, $accent, $warn);
// $background: map-get($theme, background);
// $foreground: map-get($theme, foreground);
// @include angular-material-theme($theme);
@import "~@angular/material/prebuilt-themes/indigo-pink.css";