<mat-toolbar color="primary" class="mat-elevation-z6 toolbar" fxLayoutAlign="center">
    <div class="wraper" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayoutAlign="start center">Reythink</div>
        <div fxLayoutAlign="end center">
            <a routerLink="/home">首页</a>
            <a routerLink="/about">关于</a>
            <a routerLink="/group">话题</a>
            <a routerLink="/projects">项目</a>
            <a routerLink="/posts">博客</a>
        </div>
    </div>
</mat-toolbar>