.toolbar {
    a {
        color: #fff;
        text-decoration: none;
        margin-right: 10px;
    }
    a:last-of-type {
        margin-right: 0;
    }
    .wraper {
        max-width: 1200px;
        width: 100%;
        .container {
            border: 1px solid green;
        }
    }
}